@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Default */
* {
    font-family: 'Noto Sans KR', '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}

/* Header */
header {
    text-align: center;
    margin-top: 180px;
}
header h1 {
    font-size: 36px;
}
header h3 {
    font-size: 17px;
}
header .sign-in,
header .sign-up {
    width: 180px;
    height: 35px;

    font-size: 17px;
    font-weight: bold;

    border: 0;
    border-radius: 10px;
}
header .sign-in {
    background-color: rgb(156, 224, 196);
}
header .sign-up {
    background-color: rgb(237, 248, 87);
}
header .sign-in a,
header .sign-up a {
    transition: color 0.3s;
}
header .sign-in a:hover {
    color: rgb(148, 148, 148);
}
header .sign-up a:hover {
    color: rgb(148, 148, 148);
}