/* Default */
/* * {
    margin: 0;
    padding: 0;
} */

a {
    text-decoration: none;
    color: #000;
}
/* Header */
header h1 {
    font-size: 36px;
}

header h3 {
    font-size: 15px;
}

header .sign-in,
header .sign-up {
    width: 100px;
    height: 35px;

    font-size: 17px;
    font-weight: bold;
    /* color: rgb(255, 255, 255); */

    border: 0;
    border-radius: 10px;
}
header .sign-in {
    background-color: rgb(156, 224, 196);
}
header .sign-up {
    background-color: rgb(244, 255, 93);
}