@charset "UTF-8";

/* Default */
* {
    font-family: 'Noto Sans KR Regular', '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}

/* Main */
form {
    text-align: center;
    margin-top: 180px;
}
form h1 {
    font-size: 36px;
}
form #sign-in,
form #sign-up {
    width: 180px;
    height: 35px;

    font-size: 17px;
    font-weight: bold;

    border: 0;
    border-radius: 10px;
}
form #sign-in {
    background-color: rgb(156, 224, 196);
    transition: color 0.3s;
}
form #sign-in:hover {
    color: rgb(148, 148, 148);
}
form #sign-up {
    background-color: rgb(237, 248, 87);
    transition: color 0.3s;
}
form #sign-up:hover {
    color: rgb(148, 148, 148);
}
form .error {
    font-size: 14px;
    font-weight: bold;
}