/* Default */
a {
    text-decoration: none;
    color: #000;
}

/* Header */
header {
    margin: 30px 0;
}
header h1 {
    font-size: 36px;
    text-align: center;
}
header .header-button {
    text-align: center;
}
header .header-button button{
    width: 135px;
    height: 35px;

    font-size: 17px;
    font-weight: bold;

    border: 0;
    border-radius: 10px;
    background-color: rgb(156, 224, 196);
}
header .header-button button a {
    transition: color 0.3s;
}
header .header-button button a:hover {
    color: rgb(148, 148, 148);
}

/* Main */
.container {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(25%, auto));
    grid-auto-rows: minmax(200px, auto);
    row-gap: 40px;

    margin: 20px auto;

    text-align: center;
}
.container .item p{
    font-size: 15px;
    font-weight: bold;
}
.container .item #rental-bnt,
.container .item #return-bnt {
    width: 200px;
    height: 35px;

    font-size: 15px;
    font-weight: bold;

    border: 0;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}
.pagination {
    list-style: none;
    text-align: center;
    margin: 40px 0;
}
.pagination .page-item {
    display: inline;
    font-size: 17px;
    font-weight: bold;

    padding-left: 5px;
}