/* Default */
a {
    text-decoration: none;
    color: #000;
}

form h1 {
    font-size: 36px;
}
form #sign-up {
    width: 100px;
    height: 35px;

    font-size: 17px;
    font-weight: bold;
    /* color: rgb(255, 255, 255); */

    border: 0;
    border-radius: 10px;
    background-color: rgb(244, 255, 93);
}
form p {
    font-size: 15px;
}