/* Default */
a {
    text-decoration: none;
    color: #000;
}

/* Main */
form {
    text-align: center;
    margin-top: 180px;
}
form h1 {
    font-size: 36px;
}
form #sign-up {
    width: 180px;
    height: 35px;

    font-size: 17px;
    font-weight: bold;

    border: 0;
    border-radius: 10px;
    background-color: rgb(237, 248, 87);
}
form .error {
    font-size: 15px;
    font-weight: bold;
}