<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>도서관 대출 서비스</title>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{ messages[-1] }}");
    </script>
    {% endif %}
    {% endwith %}

    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/book_info.css">
</head>
<body>
    <header>
        <h1><a href="../main">Welcome to the Library&#128213;</a></h1>
        <div class="header-button">
            <button class="rental-list"><a href= "../rental">대여기록</a></button>
            <button class="return"><a href= "../return">반납하기</a></button>
            <button class="board"><a href= "../board">입고 게시판</a></button>
            <button class="sign-out"><a href= "../logout">로그아웃</a></button>
        </div>
    </header>
    <table>
        <tr>
            <td rowspan="2">
                <div style="text-align : center;">
                    <img src="{{ book.image_path }}" alt="{{ book.book_name }}"/>
                </div>
            </td>
            <td colspan="2" class="book_name">
                <h3>{{ book.book_name }}</h3>
            </td>
        </tr>
        <tr>
            <td class="details">
                <p>출판사</p>
                <p>저자</p>
                <p>출간일</p>
                <p>페이지수</p>
                <p>ISBN 코드</p>
                <p>&#11088;</p>
            </td>
            <td class="details_desc">
                <p>{{ book.publisher }}</p>
                <p>{{ book.author }}</p>
                <p>{{ book.publication_date }}</p>
                <p>{{ book.pages }}</p>
                <p>{{ book.isbn }}</p>
                <p>{{ book.rating }}점</p>
            </td>
        </tr>
        <tr>
            <td colspan="3"> 
                <br><h3>책 소개</h3>
                <p class="book_desc">{{ book.description }}</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3>댓글 ({{comments | length}})</h3>
                {% for comment in comments | reverse %}
                    {% if comment %}
                    <div class="comment">
                        <p class="name">{{ comment.user.fullname }}</p>
                        <p>&#11088; {{ comment.rating }} {{ comment.content }}</p>
                    </div> 
                    {% endif %}
                {% endfor %}
                <form action = "" method="post">
                    <br>
                    &#11088; <input type="number" id="rating" name="rating" min="1" max="5" required>
                    <p><textarea rows="3" cols="150" name="content" required></textarea></p>
                    
                    <input type = "submit" id="submit" value = "작성하기" />
                </form>
            </td>
        </tr>
    </table>
</body>
</html>