<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>도서관 대출 서비스</title>

    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <form action = "" method="post">
        {{ form.csrf_token }}
        <h1>회원가입</h1>
        
        <div><input type="text" placeholder="Name" id="fullname" name="fullname" value="{{ form.fullname.data or '' }}"></div>
        {% if form.fullname.errors %}
        <div class="error">&#10060;{{ form.fullname.errors.0 }}</div>
        {% endif %}

        <div><input type="text" placeholder="Email" id="email" name="email" value="{{ form.email.data or '' }}"></div>
        {% if form.email.errors %}
        <div class="error">&#10060;{{ form.email.errors.0 }}</div>
        {% endif %}

        <div><input type="password" placeholder="Password" id="password" name="password" value="{{ form.password.data or '' }}"></div>
        {% if form.password.errors %}
        <div class="error">&#10060;{{ form.password.errors.0 }}</div>
        {% endif %}

        <div><input type="password" placeholder="Repeat Password" id="repeat_password" name="repeat_password" value="{{ form.repeat_password.data or '' }}"></div>
        {% if form.repeat_password.errors %}
        <div class="error">&#10060;{{ form.repeat_password.errors.0 }}</div>
        {% endif %}

        <br><input type = "submit" id="sign-up" value = "Sign Up" />

        <!-- <p>
            패스워드에는 특수문자, 영문, 숫자가 각 1개 이상 포함되어야 합니다.<br/>
            패스워드 길이는 8자 이상이어야 합니다.
        </p> -->
    </form>
</body>
</html>