{% extends 'base.html' %}

{% block content %} 
    <div class="container">
        {% for book_rental in book_rentals %}
            <div class="item">
                <p><img src="{{ book_rental.book.image_path }}" alt="{{ book_rental.book.book_name }}" height=200/></p>
                <p><a href= "/books/{{ book_rental.book_id }}" >{{ book_rental.book.book_name }}</a></p>
                <p>&#11088; {{ book_rental.book.rating }}</p>
                <p>
                    {{ book_rental.rental_date }} ~ 

                    {% if book_rental.return_date %}
                        {{ book_rental.return_date }}
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}