{% extends 'base.html' %}

{% block content %} 
    <div class="container">
        {% for book_rental in book_rentals %}
            {% if not book_rental.return_date %}
            <div class="item">
                <p><img src="{{ book_rental.book.image_path }}" alt="{{ book_rental.book.book_name }}" height=200/></p>
                <p class="book_name"><a href= "/books/{{ book_rental.book_id }}" >{{ book_rental.book.book_name }}</a></p>
                <p class="star">
                    {% for _ in range(book_rental.book.rating) %}
                        &#11088;
                    {% endfor%}
                </p>
                <p>{{ book_rental.rental_date }}</p>

                <form action = "" method="post">
                    <input type="hidden" name="book-id" value="{{ book_rental.book_id }}"/>
                    <input type="submit" id="return-bnt" value="반납하기" />
                </form>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}